<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="net.ambitious.android.sharebookmarks">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
      android:name=".ShareBookmarksApplication"
      android:allowBackup="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:networkSecurityConfig="@xml/network_config"
      android:theme="@style/AppTheme"
      tools:targetApi="n">
        <activity
          android:name=".ui.home.HomeActivity"
          android:label="@string/app_name"
          android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
          android:name="com.google.firebase.auth.internal.FederatedSignInActivity"
          android:launchMode="singleInstance"
          android:permission="com.google.firebase.auth.api.gms.permission.LAUNCH_FEDERATED_SIGN_IN"
          android:theme="@android:style/Theme.Translucent.NoTitleBar"
          tools:replace="android:launchMode" />

        <activity android:name=".ui.notification.NotificationActivity" />
        <activity android:name=".ui.inquiry.InquiryActivity" />
        <activity android:name=".ui.setting.SettingActivity" />
        <activity android:name=".ui.share.ShareUserActivity" />

        <activity
          android:name=".ui.shareadd.ShareAddActivity"
          android:theme="@style/TransparencyTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <service android:name=".service.ProjectFirebaseMessagingService"
          android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".service.DataUpdateService" />

        <meta-data
          android:name="com.google.android.gms.ads.APPLICATION_ID"
          android:value="${admob_key}"/>
        <meta-data
          android:name="com.google.android.gms.version"
          android:value="@integer/google_play_services_version"/>
    </application>
</manifest>